<aside class="sidebar">
    <ul class="sidebar__menu sidebar__menu-main">
        <li class="sidebar__menu-link">
            <a [routerLink]="['/dashboard']" routerLinkActive="active-route" >
                <i class="fas fa-info"></i>
            </a>
        </li>
        <li class="sidebar__menu-link">
            <a href="">
                <i class="fas fa-th-list"></i>
            </a>
        </li>
        <li class="sidebar__menu-link">
            <a href="">
                <i class="fas fa-th-list"></i>
            </a>
        </li>
        <li class="sidebar__menu-link">
            <a href="">
                <i class="fas fa-th-list"></i>
            </a>
        </li>
        <li class="sidebar__menu-link">
            <a href="">
                <i class="fas fa-th-list"></i>
            </a>
        </li>
        <li class="sidebar__menu-link">
            <a href="">
                <i class="fas fa-th-list"></i>
            </a>
        </li>
    </ul>
    <ul class="sidebar__menu sidebar__menu-exit">
        <li class="sidebar__menu-link">
            <a href="">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
    </ul>
</aside>
