<ng-container>
  <div class="card">
    <div class="card__body">
      <div class="progress">
        <div class="progress__wrapper">
          <div class="progress__wrapper__details">
            <div class="progress__wrapper__details-text">
              <span class="progress__wrapper__details-text--title">
                progress
              </span>
              <span class="progress__wrapper__details-text--title">
                60%
              </span>
            </div>
            <div class="progress__wrapper__details--bar">
              <div class="progress__wrapper__details--bar--percent" [style.width]="'50%'">

              </div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="progress__action">
            <button class="button progress__action-btn">
              <i class="fas fa-bell"></i>
            </button>
            <button class="button progress__action-btn">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </div>
        </div>
        <div class="progress__text">
            <p class="text--ash text--regular card__text--muted">your box in the process of filling ...</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
